*.class
*.jar
.calva/
.clj-kondo/
.cpcache/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lsp/
.nrepl-port
.shadow-cljs/
.terraform.lock.hcl
.terraform/
.vscode/
/checkouts/
/classes/
/lib/
/target/
dist/
node_modules/
pom.xml
pom.xml.asc
terraform.tfvars
